.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  border-radius: var(--radius);
  font-size: 0.875rem;
  font-weight: 500;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-duration: 150ms;
  cursor: pointer;
  border: 1px solid transparent;
  outline: none;
}

.s_default {
  height: 2.25rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.s_sm {
  height: 2rem;
  border-radius: var(--radius);
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  font-size: 0.75rem;
}

.s_lg {
  height: 2.75rem;
  border-radius: var(--radius);
  padding-left: 2rem;
  padding-right: 2rem;
}

.s_icon {
  height: 2.25rem;
  width: 2.25rem;
  padding: 0;
}

.button:focus-visible {
  outline: 2px solid hsl(var(--ring));
  outline-offset: 2px;
}

.button:disabled {
  opacity: 0.5;
  pointer-events: none;
}

/* Variants */
.default {
  background-color: hsl(var(--primary));
  color: hsl(var(--primary-foreground));
}
.default:hover {
  opacity: 0.9;
}

.secondary {
  background-color: hsl(var(--secondary));
  color: hsl(var(--secondary-foreground));
}
.secondary:hover {
  opacity: 0.8;
}

.outline {
  border-color: hsl(var(--input));
  background-color: transparent;
}
.outline:hover {
  background-color: hsl(var(--accent));
  color: hsl(var(--accent-foreground));
}

.ghost {
  background-color: transparent;
  color: hsl(var(--foreground));
}
.ghost:hover {
  background-color: hsl(var(--accent));
  color: hsl(var(--accent-foreground));
}


.link {
  background-color: transparent;
  text-decoration: underline;
  text-underline-offset: 4px;
  color: hsl(var(--primary));
}

.destructive {
  background-color: hsl(var(--destructive));
  color: hsl(var(--destructive-foreground));
}
.destructive:hover {
  opacity: 0.9;
}

